/*  your css code here. If applicable */
img{
	width: 400px;
height: 300px;
	display:flex;
object-fit: cover:
}
h1,p{
	text-align:center
	
}

button{
	margin-left:500px;
	background-color:red;
	color:white;
}



	